# JWT Configuration
JWT_ACCESS_TOKEN_SECRET=your_access_token_secret
JWT_ACCESS_TOKEN_EXPIRY=1d

JWT_REFRESH_TOKEN_SECRET=your_refresh_token_secret
JWT_REFRESH_TOKEN_EXPIRY=15d

# Server Configuration
PORT=8000

# MongoDB Configuration
DATABASE_URL=your_mongodb_connection_string
DB_NAME=social_media

IMAGE_KIT_PRIVATE_KEY= your_image_kit_private_key